<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload/Download</title> 
    <link rel="stylesheet" href="/assets/choice.css"/>
</head>
<body>
    <div class="header">
        <h1>File Upload/</h1>
        <h1 id="safe">File Download</h1>
    </div>
    <div  class="buttons">
        <button type="button" class="btns" id="upload">File Upload </button><br>
        <button type="button" class="btns" id="download">File Download </button><br>
    </div>
    <script>
        document.getElementById('upload').addEventListener('click',(upload) =>{
            upload.preventDefault();
            window.location.href='encrypt.html';
        })
        document.getElementById('download').addEventListener("click",(download) =>{
            download.preventDefault();
            window.location.href='decrypt.html';
        })
    </script>
</body>
</html>