<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decryption</title>
    <link rel="stylesheet" href="/assets/decrypt.css"/>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1> File </h1>
            <h1 id="safe">Download</h1><br>
        </div>
        <div class="file-download">
            <form class="file-download">
                <label for="received-file"> Select the file</label>
                <select id="dropdown" multiple>
                    <option  value="val1">1.pdf</option>
                    <option value="val2">2.img</option>
                    <option value="val3">3.mp4</option>
                </select><br><br>
                <label for="file-upload">Select an Image to Hide </label>
                <input type="file" id="file-upload" name="file-upload"><br><br>
                <button type="submit" class="download">Download</button><br><br>
                <button type="button" class="download" id="main">Back to Choice</button>
            </form>
        </div>
    </div>
   
<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
            <script>
                const fileInput = document.getElementById('file-upload');
                fileInput.addEventListener('change', () => {
                const fileName = fileInput.files[0].name;
                console.log(fileName);
                });

                var selectInput = document.getElementById('dropdown').value;
                console.log(selectInput)



                var list=[]
               
               var select = document.querySelector('select')
            select.onchange = (e) => {
            var selectedVals = [...e.target.selectedOptions].map(o => o.text);
            list.push(selectedVals);
            console.log(list[list.length -1]);
        }
        
        
        /*new MultiSelectTag('dropdown')  // id*/
    </script>
        



</body>

</html>