<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryption</title>
    <link rel="stylesheet" href="/assets/encrypt.css"/>

</head>
<body>
    <div class="container">
        <div class="header">
            <h1> File </h1>
            <h1 id="safe">Upload</h1><br>
            </div>
        
        <div class="file-upload">
            <form>
                <label for="receiver"> Select the receiver</label>
                <select>
                    <option value="option1">harikrish0122001@gmail.com</option>
                    <option value="option2">hariprabhu2323@gmail.com</option>
                    <option value="option3">harishrethinam@gmail.com</option>
                  </select><br><br>
                <label for="file-upload" name="file-">Select a file to upload:</label>
                <input type="file" id="file-upload" name="file-upload" multiple><br><br>
                <label for="file-upload">Select an Image to Hide </label>
                <input type="file" id="file-upload" name="file-upload"><br><br>
                <label for="key">Enter the Key</label>
                <input type="text" id="key-holder" placeholder="Enter the Key"><br><br>
                <button type="submit" class="upload">Upload</button><br>
                <button class="upload" id="main"> Back to Choice</button>
              </form>
              
        </div>

    </div>
    <script>
        document.getElementById('main').addEventListener('click',function (main) {
            main.preventDefault();
            window.location.href="choice.html";
        })
    </script>
</body>
</html>